{{> basicInfo}}

<h2>Inventory</h2>
<button class="add-button" id="add-feature-button" type="button">Add Feature</button>
<div id="items-section">
    {{#each items}}
        {{> dabloonsItemEntry}}
    {{/each}}
</div>

<h2>Transactions</h2>
<button class="add-button" id="add-spell-button" type="button">Add Spell</button>
<div id="transactions-section">
    <ul id="transactions-list">
        {{#each transactions}}
            {{> dabloonsTransactionEntry}}
        {{/each}}
    </ul>
</div>

<script src="/itemEntry.js"></script>
<script src="/transactionEntry.js"></script>