<form class="entry item-entry" method="post">
    <div class="entry-name item-input">
        <input name="item-name" placeholder="Name" value="{{item-name}}"/>
    </div>
    <div class="entry-description item-input">
        <label>Description</label>
        <textarea name="item-description">{{item-description}}</textarea>
    </div>
    <div class="entry-amount item-input">
        <label>Amount</label>
        <input type="number" name="item-amount" value="{{item-amount}}"/>
    </div>
</form>