<li class="item-list-entry">
    <form class="entry transaction-entry" method="post">
        <div class="entry-description transaction-input">
            <textarea name="transaction-description">{{transaction-description}}</textarea>
        </div>
    </form>
</li>