<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css"/>
        <script src="/index.js" defer></script>
    </head>
    <body>
        {{> header}}
        {{> navbar}}

        <main id="main-content">
            {{{body}}}
        </main>
    </body>
</html>