<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
        <script src="/index.js" defer></script>
    </head>
    <body>
        {{> header}}
        {{> navbar this}}

        <main id="main-content">
            <div id="system-header">
                <h2>{{sysName}}</h2>
                {{> utilbar}}
            </div>

            {{{body}}}
        </main>
    </body>
</html>