<div><p>this is the home page</p></div>

<div>
    <form id="my-form">
        <label for="">
            <input type="text" name="name_user" value="Jhon Wick" placeholder="Add your name">
        </label>
        <label>
            <input type="email" name="email_user" value="jhonw@gmail.com" placeholder="Add your email">
        </label>
    </form>
    <button id="submitButton">Click</button>
</div>