<div id="welcome text">
    <h2>
        Welcome to Gracie's web-based character sheets!
    </h2>
    <p class="description">
        Please select a System from the list below.
    </p>
</div>

{{> systemList this}}
