/* general for whole page */
.container {
    background-color: #333333;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    width: fit-content;
    height: fit-content;
}

.big-number {
    width: 20px;
    height: 20px;
    text-align: center;
}

input {
    background-color: rgb(224, 224, 224);
    border: black 1px solid;
    border-radius: 3px;
}

select {
    background-color: rgb(224, 224, 224);
}

textarea {
    background-color: rgb(224, 224, 224);
}


/* big sections */
#section-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#left-section {
    margin-right: 40px;
}


/* basic info */
#main-info-container {
    display: flex;
    flex-direction: column;
}

#main-info {
    display: flex;
    flex-direction: row;
}

#character-img {
    width: 150px;
    height: 150px;
    float: left;
    background-color: #fff;
    border: none;
    margin-right: 10px;
}

#character-img-container {
    position: relative;
}

#character-img-edit-button {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    background: rgba(124, 124, 124, 0.5);
    cursor: pointer;
}

#character-img-edit-button:hover {
    background: rgba(0, 0, 0, 0.7);
}

#basic-properties-list {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 150px;
    padding: 0;
}

#name-input {
    font-weight: bold;
    font-size: 30px;
    width: 346px;
}

#main-info {
    height: fit-content;
    width: fit-content;
    margin: 20px;
}

.character-property {
    display: grid;
    grid-template-columns: 60px auto;
    gap: 5px;
    margin: 7px 7px;
}

.character-property label {
    text-align: right;
}


/* Playbooks */
#playbook-list {
    padding-left: 10px;
    padding-top: 5px;
}

.playbook-entry {
    display: flex;
    flex-direction: row;
    margin: 3px 0;
}

.delete-playbook-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    border-radius: 4px;
    border: none;
}

.delete-playbook-button:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

/* equipment selector */
#playbook-dropdown-container {
    position: relative;
}

#playbook-dropdown {
    position: absolute;
    top: 20px;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.playbook-list-entry {
    margin: 3px 0;
}

.playbook-list-entry:hover {
    cursor: pointer;
    background-color: #474747;
}


/* Level */
#level-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 5px;
    width: 80px;
}

#level-container label {
    height: fit-content;
    text-align: center;
}

#level-value {
    margin-top: 5px;
    width: 25px;
    height: 25px;
}

/* XP */
#xp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 5px;
    width: 80px;
}

#xp-container label {
    height: fit-content;
    text-align: center;
}

#xp-value {
    margin-top: 5px;
    width: 25px;
    height: 25px;
}


/* Stats */
.stat-container {
    background-color: #474747;
    margin: 5px;
    padding: 5px;
    width: 90px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.debility-label {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: smaller;
    float: left;
}

.debility-checkbox {
    margin-top: 7px;
    float: inline-end;
}

/* Combat */
.combat-container {
    background-color: #474747;
    margin: 5px;
    padding: 5px;
    width: 90px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* HP */
#hp-display {
    height: 35px;
    width: 35px;
}

#hp-slider {
    width: 60px;
}

#max-hp-container {
    display: flex;
    flex-direction: row;
}

#max-hp-input {
    width: 15px;
    height: 15px;
    margin-left: 3px;
}

/* Armor */
#armor-value {
    margin-bottom: 10px;
    width: 25px;
    height: 25px;
}

/* Damage */
#damage-value {
    margin-bottom: 10px;
    width: 25px;
    height: 25px;
}


/* Lists general */
.list-section {
    flex-direction: column;
}

.add-button {
    width: fit-content;
    border-radius: 4px;
}

.list {
    display: flex;
    flex-direction: column;
}

.entry {
    background-color: #474747;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

.entry label input {
    width: 150px;
}

.entry-info {
    display: flex;
    flex-direction: column;
}

.entry-description {
    width: 500px;
    height: 100px;
    white-space: pre-line;
}


/* Equipment */
.item-name-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.delete-equipment-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 15px;
    height: 15px;
    border-radius: 4px;
    border: none;
}

.delete-equipment-button:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.item-info {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 2px;
}

.item-uses {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3px;
}

.item-uses label {
    font-size: small;
}

.item-info .entry-description {
    width: 500px;
    height: auto;
}

.item-uses input {
    display: block;
    height: 30px;
    width: 30px;
}

/* equipment upper section */
#equipment-upper-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

/* equipment selector */
#equipment-dropdown-container {
    position: relative;
}

#equipment-dropdown {
    position: absolute;
    top: 20px;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.equipment-list-entry {
    margin: 3px 0;
}

.equipment-list-entry:hover {
    cursor: pointer;
    background-color: #474747;
}

/* wealth */
#wealth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

#wealth-value {
    width: 25px;
    height: 25px;
}


/* Moves */
.move-description {
    width: 500px;
}

.move-name-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.move-entry label a {
    font-weight: bold;
}

.delete-move-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 15px;
    height: 15px;
    border-radius: 4px;
    border: none;
}

.delete-move-button:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

div.move-info {
    margin: 5px;
}

div.entry-description {
    margin: 5px;
    height: fit-content;
}

.filter-container {
    display: flex;
    flex-direction: row;
}

.move-filter {
    margin: 5px;
}

/* move selector */
#move-dropdown-container {
    position: relative;
}

#move-dropdown {
    position: absolute;
    top: 20px;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.move-list-entry {
    margin: 3px 0;
}

.move-list-entry:hover {
    cursor: pointer;
    background-color: #474747;
}


/* Notes */



/* Character List */
#character-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.character-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #333333;
    border-radius: 5px;
    margin: 5px 0;
}

.character-entry img {
    margin: 10px;
    max-height: 150px;
}

.character-entry a {
    margin: 10px;
}